<h1>How can I submit corrections to video subtitles?</h1>
<p style="font-size: 16px;">Thanks for asking! ✨Team work makes the dream work!✨ If everyone corrects a single file, they'll be super-correct, super-quick!</p>
<p style="font-size: 16px;">Create a gitlab.com account, and then request access to the repository using the blue link shown below. However you should request access to the repository which is specific to this class, which is shown at the top of the page.</p>
<p><img src="https://ost2images.s3.amazonaws.com/Arch101_x86-64_Asm/03_subtitle_git_merge/subtitle_git_merge_request_01.png" /></p>
<pre>Once you have access, navigate to the .srt subtitle file you would like to correct, and then click on "Web IDE"<br /><br /><img src="https://ost2images.s3.amazonaws.com/FAQs/SubtitleFixes/SubtitleFixes01.png" /><br /><br />Then navigate to the line you'd like to correct:<br /><br /><img src="https://ost2images.s3.amazonaws.com/FAQs/SubtitleFixes/SubtitleFixes02.png" /><br /><br />You can simply edit all the text you'd like from this interface, and then commit the changes:<br /><img src="https://ost2images.s3.amazonaws.com/FAQs/SubtitleFixes/SubtitleFixes03.png" /><br /><br />The commit message can just be "see diffs", but the branch name you create should be yourusername-filename:<br /><img src="https://ost2images.s3.amazonaws.com/FAQs/SubtitleFixes/SubtitleFixes04.png" /><br /><br />Here's an example of what that might look like. Make sure "Start a new merge request" is selected before you hit Commit.<br /><img src="https://ost2images.s3.amazonaws.com/FAQs/SubtitleFixes/SubtitleFixes05.png" /><br /><br />Then for your merge request, just Title it "&lt;filename&gt; subtitle fixes". Leave the Assignees and Reviewers unassigned. And make sure the "Delete source branch" option remains selected before hitting "Create merge request".<br /><img src="https://ost2images.s3.amazonaws.com/FAQs/SubtitleFixes/SubtitleFixes06.png" /><br /><img src="https://ost2images.s3.amazonaws.com/FAQs/SubtitleFixes/SubtitleFixes07.png" /></pre>
<hr /><hr /><hr />
<h1>General guidance for correction formatting</h1>
<p>1. Spoken language like "hex ff" can be changed to "0xff"</p>
<p>2. register and assembly instruction names should be lowercase</p>
<p>3. In general long-form names like "jump above or equal" can be replaced with the short form names like "jae"</p>
<p>4. You can add punctuation if you want, but it's not necessary</p>
<p>5. There is no need to remove filler words like "uh" or "um"</p>
<p></p>
<p></p>