<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 80%;">
    </colgroup>
  <tr>
    <th>CVE</th>
    <td><a href="/jump_to_id/bb9a7b59b6be4dacaf7c965ea3f607a8">CVE-2022-26721❌💻</a></td>
  </tr>
  <tr>
    <th>Software Source</th>
    <td>Apple</td>
  </tr>
  <tr>
    <th>Type</th>
    <td>Userspace</td>
  </tr>
  <tr>
    <th>SubType</th>
    <td>Application (daemon)</td>
  </tr>
  <tr>
    <th>Attack Surface</th>
    <td>XPC (OpenGL shader rendering)</td>
  </tr>
  <tr>
    <th>Discovered in the Wild? (i.e. <a href="https://en.wikipedia.org/wiki/Zero-day_(computing)">0day</a>?)</th>
    <td>No</td>
  </tr>  
  <tr>
    <th>Public Proof-of-Concept Exploit Available?</th>
    <td>Yes</td>
  </tr>
  <tr>
    <th>External Resources</th>
    <td>[1] Blog - <a href="https://blog.theori.io/research/binary-searching-into-cvmserver/">https://blog.theori.io/research/binary-searching-into-cvmserver/</a><p></p>
      	[2] PoC (need to modify 2 lines as specified in [1], since this is for the [3] CVE-2021-30724 integer overflow) - <a href="https://gist.github.com/jhftss/1bdb0f8340bfd56f7f645c080e094a8b">https://gist.github.com/jhftss/1bdb0f8340bfd56f7f645c080e094a8b</a><p></p>
      	[3] CVE-2021-30724 integer overflow - <a href="https://www.trendmicro.com/en_us/research/21/f/CVE-2021-30724_CVMServer_Vulnerability_in_macOS_and_iOS.html">https://www.trendmicro.com/en_us/research/21/f/CVE-2021-30724_CVMServer_Vulnerability_in_macOS_and_iOS.html</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Contributor Social Media Handles</th>
    <td><a href="https://twitter.com/jinmo123">Yonghwi Jin</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Anticipated difficulty for students to find vulnerability via source code inspection</th>
    <td>Easy<p></p>
    </td>
  </tr>
</table>