<h1>Detection</h1>

<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 30%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
    </colgroup>
  
  <tr>
    <th> </th>
    <th>Read The Fun Code!</th>
    <th>FORTIFY_SOURCE</th>
    <th>Static Analysis Tools</th>
    <th>Fuzzing</th>
    <th>ASan/KASan</th>
    <th>UBSan</th>
    <th>MSan/KMSAN (Linux)</th>
    <th>TSan/KCSAN (Linux)</th>
  </tr>
  <tr>
    <th><b>(Linear) Stack Buffer Overflow</b></th>
    <td> ✅ </td>
    <td> ✅ </td>
    <td> OK </td>
    <td> ✅ </td>
    <td> ✅ </td>
    <td> </td>
    <td> </td>
    <td> </td>
  </tr>
  <tr>
    <th><b>(Linear) Heap Buffer Overflow</b></th>
    <td> ✅ </td>
    <td> ✅ </td>
    <td> OK </td>
    <td> ✅ </td>
    <td> ✅ </td>
    <td> </td>
    <td> </td>
    <td> </td>
  </tr>
  <tr>
    <th><b>(Non-linear) Out-Of-Bounds Writes</b></th>
    <td> ✅ </td>
    <td> </td>
    <td> So-so </td>
    <td> ✅ </td>
    <td> ✅ </td>
    <td> ✅ Some </td>
    <td> </td>
    <td> </td>
  </tr>
  <tr>
    <th><b>Integer Overflow/Underflow</b></th>
    <td> ✅ </td>
    <td> Only indirectly, by detecting stack/heap overflows at runtime that were caused by this</td>
    <td> OK </td>
    <td> ✅ </td>
    <td> Only indirectly, by detecting the above </td>
    <td> ✅ </td>
    <td> </td>
    <td> </td>
  </tr>
  <tr>
    <th><b>Other Integer Issues</b></th>
    <td> ✅ </td>
    <td> ⬆️</td>
    <td> So-so </td>
    <td> ✅ </td>
    <td> ⬆️</td>
    <td> ✅ </td>
    <td> </td>
    <td> </td>
  </tr>
  <tr>
    <th><b>Uninitialized Data Access</b></th>
    <td> ✅ </td>
    <td> ⬆️</td>
    <td> Minimal, and highly tool-specific </td>
    <td> ✅ </td>
    <td> ⬆️</td>
    <td> </td>
    <td> ✅ </td>
    <td> </td>
  </tr>
  <tr>
    <th><b>Race Conditions</b></th>
    <td> ✅ </td>
    <td> ⬆️</td>
    <td> Generally not </td>
    <td> ✅ <i>Some</i> (more with customization) </td>
    <td> ⬆️</td>
    <td> </td>
    <td> </td>
    <td> ✅ </td>
  </tr>
  <tr>
    <th><b>Use After Free</b></th>
    <td> ✅ </td>
    <td> ⬆️</td>
    <td> Generally not </td>
    <td> ⬆️ </td>
    <td> ✅ </td>
    <td> </td>
    <td> </td>
    <td> ⬆️ (Only indirectly by detecting race conditions that can lead to UAF) </td>
  </tr>
</table>