<h1>🏋️‍♂️Exercise!🧗:</h1>
<h1>🤔Find The Flaw😵‍💫</h1>
<p style="font-size: 16px;">The below three functions are a minimized <em>hint</em> about where the vulnerability is. To actually look at the code, you should check out the vulnerable version of the Linux kernel as described below, and use your favorite code reader to navigate through the code and find the flaw. If you get lost in the code, come back and look at the hint code below. The vulnerability should be visible within that code (even if not all the required definitions' values are.)</p>
<p style="font-size: 16px;">There are three primary paths of interest which can occur within io_read() to expose the bug. (In the below, functions at the top of the image are called by functions below them.)</p>
<p style="font-size: 16px;"><strong>Start your analysis in io_read().</strong></p>
<p style="font-size: 16px;"></p>
<p><img src="https://drive.google.com/uc?export=view&amp;id=1sm94pdf8bZgI8mmhuJsTNLq9tT6XU8Re" /></p>
<p><img src="https://drive.google.com/uc?export=view&amp;id=16_5OUJzdsCH3xQPGzXU-wb72Kc8sZWtC" /></p>
<p><img src="https://drive.google.com/uc?export=view&amp;id=1wUXyfWdqnYSHUlx_TpsrPQRScLXhYuQB" /></p>
<p style="font-size: 16px;"></p>
<p></p>
<p style="font-size: 16px;"><strong>Vulnerable Linux commit:</strong></p>
<p style="font-size: 16px;">git clone https://github.com/torvalds/linux.git linux_CVE-2021-41073</p>
<p style="font-size: 16px;">cd linux_CVE-2021-41073</p>
<p style="font-size: 16px;">git checkout 6880fa6c56601bb8ed59df6c30fd390cc5f6dd8f</p>
<p style="font-size: 16px;"></p>
<p style="font-size: 16px;">aka </p>
<p style="font-size: 16px;">git clone --branch v5.15-rc1 --single-branch https://github.com/torvalds/linux.git linux_CVE-2021-41073 </p>