<h1><strong>Vulnerable commit:</strong></h1>
<p style="font-size: 16px;">While the minimal hint code is available below on the website with some comments, you should look at the code with full context. It can be checked out using the below:</p>
<p style="font-size: 16px;">git clone https://gitlab.com/qemu-project/qemu.git qemu_CVE-2021-4207</p>
<p style="font-size: 16px;">cd qemu_CVE-2021-4207</p>
<p style="font-size: 16px;">git checkout 95a3fcc7487e5bef262e1f937ed8636986764c4e</p>