<h1>🏋️‍♂️Exercise!🧗:</h1>
<h1>🤔Find The Flaw😵‍💫</h1>
<p style="font-size: 16px;">The below code is a minimized <em>hint</em> about where the vulnerability is. To actually look at the code, you should check out the vulnerable version as described below, and use your favorite code reader to navigate through the code and find the flaw. If you get lost in the code, come back and look at the hint code below. The vulnerability should be visible within that code (even if not all the required definitions' values are.)</p>
<p style="font-size: 16px;"></p>
<p style="font-size: 16px;"><strong>Vulnerable Radare2 commit:</strong></p>
<p style="font-size: 16px;">git clone https://github.com/radareorg/radare2.git radare_CVE-2022-1809</p>
<p style="font-size: 16px;">cd radare_CVE-2022-1809</p>
<p style="font-size: 16px;">git checkout 6f6ea27b6748e3cae8dea5b08dea79aa96700756</p>