<h2>Key to the Map:</h2>
🌚 = Vulnerability was found in the wild as a zero-day exploit<br>
🥷 = Writeup includes both the vulnerability and an example exploit description<br>
<p>
<h2>Students on the Secure Development Learning Path:</h2>
You should go through >= 3 examples, where one example should be a vulnerability + exploit 🥷 example.
<p>
<h2>Students on the Exploits Learning Path:</h2>
You should go through as many examples as possible (to build up your pattern recognition for this bug class.)
