<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 80%;">
    </colgroup>
  <tr>
    <th>CVE</th>
    <td><a href="/jump_to_id/b05ca5b48b0845f4806ee06c19f13509">🌚CVE-2020-27932💌</a></td>
  </tr>
  <tr>
    <th>Software Source</th>
    <td>Apple</td>
  </tr>
  <tr>
    <th>Type</th>
    <td>Kernelspace</td>
  </tr>
  <tr>
    <th>SubType</th>
    <td>XNU kernel</td>
  </tr>
  <tr>
    <th>Attack Surface</th>
    <td>Mach Ports ()</td>
  </tr>
  <tr>
    <th>Discovered in the Wild? (i.e. <a href="https://en.wikipedia.org/wiki/Zero-day_(computing)">0day</a>?)</th>
    <td><b>Yes</b></td>
  </tr>  
  <tr>
    <th>Public Proof-of-Concept Exploit Available?</th>
    <td><b>Yes</b></td>
  </tr>
  <tr>
    <th>External Resources</th>
    <td>[1] Apple Mach documentation - <a href="https://developer.apple.com/library/archive/documentation/Darwin/Conceptual/KernelProgramming/Mach/Mach.html">https://developer.apple.com/library/archive/documentation/Darwin/Conceptual/KernelProgramming/Mach/Mach.html</a><p></p>
      	[2] 3rd party Mach documentation - <a href="http://web.eecs.utk.edu/~qcao1/cs560/papers/mach.pdf">http://web.eecs.utk.edu/~qcao1/cs560/papers/mach.pdf</a><p></p>
      	[3] Google TAG ITW vulnerability description & PoC <a href="https://bugs.chromium.org/p/project-zero/issues/detail?id=2107">https://bugs.chromium.org/p/project-zero/issues/detail?id=2107</a><p></p>
        [4] 3rd party analysis - Zhuowei Zhang - <a href="https://worthdoingbadly.com/specialreply/">https://worthdoingbadly.com/specialreply/</a><p></p>
        [5] 3rd party analysis - Xinru Chi & Wang Tielei <a href="https://github.com/wangtielei/Slides/blob/main/zer0con21.pdf">https://github.com/wangtielei/Slides/blob/main/zer0con21.pdf</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Contributor Social Media Handles</th>
    <td><a href="https://twitter.com/i41nbeer">Ian Beer</a><p></p>
        <a href="https://twitter.com/zhuowei">Zhuowei Zhang</a> (Mastodon: <a href="https://notnow.dev/zhuowei">@zhuowei@notnow.dev</a>) <p></p>
        Xinru Chi (unknown)<p></p>
        <a href="https://twitter.com/WangTielei">Wang Tielei</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Anticipated difficulty for students to find vulnerability via source code inspection</th>
    <td>Easy-to-Medium<p></p>
    </td>
  </tr>
</table>