<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
    </colgroup>
  <tr>
    <th> </th>
    <th>Server</th>
    <th>Desktop</th>
    <th>Mobile</th>
    <th>Embedded</th>
  </tr>
  <tr>
    <th><b>Userspace</b></th>
    <td>
    </td>
    <td><a href="/jump_to_id/bb9a7b59b6be4dacaf7c965ea3f607a8">CVE-2022-26721❌💻</a><p></p>
      	<a href="/jump_to_id/2647fce41b0c4793aef611c5da72747d">CVE-2022-1809📡</a><p></p>
    </td>
    <td><a href="/jump_to_id/bb9a7b59b6be4dacaf7c965ea3f607a8">CVE-2022-26721❌💻</a><p></p>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <th><b>Kernelspace</b></th>
    <td><a href="/jump_to_id/887f24bbd3ca4e7e9a4c8434b45ee936">🥷🌚CVE-2019-14580️⃣🔥👉✴️</a><p></p>
      	<a href="/jump_to_id/3df90d93b1564928bbe9f396524ef154">CVE-2022-29968🤴💍</a></td>
    </td>
    <td><a href="/jump_to_id/887f24bbd3ca4e7e9a4c8434b45ee936">🥷🌚CVE-2019-14580️⃣🔥👉✴️</a><p></p>
      	<a href="/jump_to_id/3df90d93b1564928bbe9f396524ef154">CVE-2022-29968🤴💍</a></td>
    </td>
    <td><a href="/jump_to_id/3df90d93b1564928bbe9f396524ef154">CVE-2022-29968🤴💍</a><p></p>
    </td>
    <td><a href="/jump_to_id/3df90d93b1564928bbe9f396524ef154">CVE-2022-29968🤴💍</a><p></p>
      	<a href="/jump_to_id/1f849e92a4f545ba8ab9e32e3782a94a">CVE-2021-27080🔵1️⃣</a><p></p></td>
    </td>
  </tr>
  <tr>
    <th><b>Virtualization</b></th>
    <td><a href="/jump_to_id/ac1bb998f09f4cd094339f5006c3f75d">CVE-2021-3608🎮🔜🧠</a><p></p>
    </td>
    <td><a href="/jump_to_id/ac1bb998f09f4cd094339f5006c3f75d">CVE-2021-3608🎮🔜🧠</a><p></p>
    </td>
    <td>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <th><b>Firmware <br> (pre/parallel-to-OS)</b></th>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
  </tr>
</table>