<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 80%;">
    </colgroup>
  <tr>
    <th>CVE</th>
    <td><a href="/jump_to_id/852497e15f384065b2223b3d958de0eb">CVE-2020-29661🏇☎️</a></td>
  </tr>
  <tr>
    <th>Software Source</th>
    <td>Linux (Open Source)</td>
  </tr>
  <tr>
    <th>Type</th>
    <td>Kernelspace</td>
  </tr>
  <tr>
    <th>SubType</th>
    <td>Kernel</td>
  </tr>
  <tr>
    <th>Attack Surface</th>
    <td>IOCTL (TIOCSPGRP)</td>
  </tr>
  <tr>
    <th>Discovered in the Wild? (i.e. <a href="https://en.wikipedia.org/wiki/Zero-day_(computing)">0day</a>?)</th>
    <td>No</td>
  </tr>  
  <tr>
    <th>Public Proof-of-Concept Exploit Available?</th>
    <td>No</td>
  </tr>
  <tr>
    <th>External Resources</th>
    <td>[1] Blog - <a href="https://googleprojectzero.blogspot.com/2021/10/how-simple-linux-kernel-memory.html">https://googleprojectzero.blogspot.com/2021/10/how-simple-linux-kernel-memory.html</a><p></p>
      	[2] PoC - <a href="https://bugs.chromium.org/p/project-zero/issues/detail?id=2125">https://bugs.chromium.org/p/project-zero/issues/detail?id=2125</a><p></p>
      	[3] Patch - <a href="https://github.com/torvalds/linux/commit/54ffccbf053b5b6ca4f6e45094b942fab92a25fc">https://github.com/torvalds/linux/commit/54ffccbf053b5b6ca4f6e45094b942fab92a25fc</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Contributor Social Media Handles</th>
    <td><a href="https://twitter.com/tehjh">Jann Horn</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Anticipated difficulty for students to find vulnerability via source code inspection</th>
    <td>Medium<p></p>
    </td>
  </tr>
</table>