<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 80%;">
    </colgroup>
  <tr>
    <th>CVE</th>
    <td><a href="/jump_to_id/b05ca5b48b0845f4806ee06c19f13509">🌝CVE-2021-30869💌2️⃣</a></td>
  </tr>
  <tr>
    <th>Software Source</th>
    <td>Apple</td>
  </tr>
  <tr>
    <th>Type</th>
    <td>Kernelspace</td>
  </tr>
  <tr>
    <th>SubType</th>
    <td>XNU kernel</td>
  </tr>
  <tr>
    <th>Attack Surface</th>
    <td>Mach Ports ()</td>
  </tr>
  <tr>
    <th>Discovered in the Wild?</th>
    <td><b>Yes</b>, but as an N-Day🌝, not 0-Day🌚</td>
  </tr>  
  <tr>
    <th>Public Proof-of-Concept Exploit Available?</th>
    <td>No, but there is a mostly-complete description of the PoC in slides.</td>
  </tr>
  <tr>
    <th>External Resources</th>
    <td>[6] Discussion of the discovery of the variant - <a href="https://blog.google/threat-analysis-group/analyzing-watering-hole-campaign-using-macos-exploits/">https://blog.google/threat-analysis-group/analyzing-watering-hole-campaign-using-macos-exploits/</a><p></p>
      	[7] Further details about the Pangu variant - <a href="https://github.com/wangtielei/Slides/blob/main/mosec21.pdf">https://github.com/wangtielei/Slides/blob/main/mosec21.pdf</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Contributor Social Media Handles</th>
    <td><a href="https://twitter.com/WangTielei">Wang Tielei</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Anticipated difficulty for students to find vulnerability via source code inspection</th>
    <td>N/A<p></p>
    </td>
  </tr>
</table>