<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 80%;">
    </colgroup>
  <tr>
    <th>CVE</th>
    <td><a href="/jump_to_id/34b30ed15a1c40c49e01ac4fd176af7a">2019-CVE-None-QualcommWiFiSB🗣️🤫😶</a></td>
  </tr>
  <tr>
    <th>Software Source</th>
    <td>Qualcomm</td>
  </tr>
  <tr>
    <th>Type</th>
    <td>Firmware</td>
  </tr>
  <tr>
    <th>SubType</th>
    <td>WiFi</td>
  </tr>
  <tr>
    <th>Attack Surface</th>
    <td>Shared Memory (AP-to-Wifi)</td>
  </tr>
  <tr>
    <th>Discovered in the Wild? (i.e. <a href="https://en.wikipedia.org/wiki/Zero-day_(computing)">0day</a>?)</th>
    <td>No</td>
  </tr>  
  <tr>
    <th>Public Proof-of-Concept Exploit Available?</th>
    <td>No</td>
  </tr>
  <tr>
    <th>External Resources</th>
    <td>[1] Conference slides - <a href="https://i.blackhat.com/USA-19/Thursday/us-19-Pi-Exploiting-Qualcomm-WLAN-And-Modem-Over-The-Air.pdf">https://i.blackhat.com/USA-19/Thursday/us-19-Pi-Exploiting-Qualcomm-WLAN-And-Modem-Over-The-Air.pdf</a><p></p>
      	[2] Conference video - <a href="https://www.youtube.com/watch?v=7lrm5tRJYSg">https://www.youtube.com/watch?v=7lrm5tRJYSg</a><p></p>
      	[3] SoC image citation - <a href="https://www.qualcomm.com/media/documents/files/snapdragon-835-mobile-platform-product-brief.pdf">https://www.qualcomm.com/media/documents/files/snapdragon-835-mobile-platform-product-brief.pdf</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Contributor Social Media Handles</th>
    <td><a href="https://twitter.com/GXiling">Xiling Gong</a><p></p>
    Peter Pi (Unknown. Let us know if you know.)<p></p>
    </td>
  </tr>
  <tr>
    <th>Anticipated difficulty for students to find vulnerability via source code inspection</th>
    <td>N/A<p></p>
    </td>
  </tr>
</table>