<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 80%;">
    </colgroup>
  <tr>
    <th>CVE</th>
    <td><a href="/jump_to_id/b60ef73aa61649a1bb9d20fc0fd768a1">CVE-2019-8921🟦💤</a></td>
  </tr>
  <tr>
    <th>Software Source</th>
    <td>BlueZ (Open Source)</td>
  </tr>
  <tr>
    <th>Type</th>
    <td>Userspace</td>
  </tr>
  <tr>
    <th>SubType</th>
    <td>Daemon (Bluetooth)</td>
  </tr>
  <tr>
    <th>Attack Surface</th>
    <td>Network Packets (Bluetooth Service Discovery Protocol (SDP))</td>
  </tr>
  <tr>
    <th>Discovered in the Wild? (i.e. <a href="https://en.wikipedia.org/wiki/Zero-day_(computing)">0day</a>?)</th>
    <td>No</td>
  </tr>  
  <tr>
    <th>Public Proof-of-Concept Exploit Available?</th>
    <td><b>Yes</b></td>
  </tr>
  <tr>
    <th>External Resources</th>
    <td>[1] Advisory and PoC - <a href="https://ssd-disclosure.com/ssd-advisory-linux-bluez-information-leak-and-heap-overflow/">https://ssd-disclosure.com/ssd-advisory-linux-bluez-information-leak-and-heap-overflow/</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Contributor Social Media Handles</th>
    <td>Julian Rauchberger (Unknown, let us know if you know.)</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Anticipated difficulty for students to find vulnerability via source code inspection</th>
    <td>Easy<p></p>
    </td>
  </tr>
</table>