<h1>Mitigation</h1>

<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 30%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
    </colgroup>
  
  <tr>
    <th> </th>
    <th>Stack Cookies</th>
    <th>Non-Executable Memory (W^X)</th>
    <th>ASLR</th>
    <th>CFI</th>
    <th>Tagged Memory</th>
  </tr>
  <tr>
    <th><b>(Linear) Stack Buffer Overflow</b></th>
    <td> ✅ </td>
    <td> ✅</td>
    <td> ✅</td>
    <td> ✅</td>
    <td> ✅</td>
  </tr>
  <tr>
    <th><b>(Linear) Heap Buffer Overflow</b></th>
    <td> </td>
    <td> ✅ </td>
    <td> ✅ </td>
    <td> ✅ </td>
    <td> ✅ </td>
  </tr>
  <tr>
    <th><b>(Non-linear) Out-Of-Bounds Writes</b></th>
    <td> </td>
    <td> ✅ </td>
    <td> ✅ </td>
    <td> ✅ </td>
    <td> ✅ </td>
  </tr>
  <tr>
    <th><b>Integer Overflow/Underflow</b></th>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
  </tr>
  <tr>
    <th><b>Other Integer Issues</b></th>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
  </tr>
  <tr>
    <th><b>Uninitialized Data Access</b></th>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> ✅ (limited to ACID function pointer usage)</td>
    <td> ✅ (limited to ACID pointer usage) </td>
  </tr>
  
</table>