<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 80%;">
    </colgroup>
  <tr>
    <th>CVE</th>
    <td><a href="/jump_to_id/a4d69ca6d36f40aeaad90d5932ac31ba">CVE-2022-22252🇨🇳🏆🪵</a></td>
  </tr>
  <tr>
    <th>Software Source</th>
    <td>Huawei (Open Source Linux customization)</td>
  </tr>
  <tr>
    <th>Type</th>
    <td>Kernelspace</td>
  </tr>
  <tr>
    <th>SubType</th>
    <td>Driver (Custom logging)</td>
  </tr>
  <tr>
    <th>Attack Surface</th>
    <td>IOCTLs (hcfgk_set_cfg(), hcfgk_ioctl_get_cfg())</td>
  </tr>
  <tr>
    <th>Discovered in the Wild? (i.e. <a href="https://en.wikipedia.org/wiki/Zero-day_(computing)">0day</a>?)</th>
    <td>No</td>
  </tr>  
  <tr>
    <th>Public Proof-of-Concept Exploit Available?</th>
    <td>No</td>
  </tr>
  <tr>
    <th>External Resources</th>
    <td>[1] Advisory - <a href="https://labs.taszk.io/blog/post/79_hw_hwlog_uaf/">https://labs.taszk.io/blog/post/79_hw_hwlog_uaf/</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Contributor Social Media Handles</th>
    <td><a href="https://twitter.com/gymiru">Gyorgy Miru</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Anticipated difficulty for students to find vulnerability via source code inspection</th>
    <td>Easy<p></p>
    </td>
  </tr>
</table>