<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 80%;">
    </colgroup>
  <tr>
    <th>CVE</th>
    <td><a href="/jump_to_id/2732638b927c4e9cb4f1cfc8ac5c3004">CVE-2021-28460🔵2️⃣</a></td>
  </tr>
  <tr>
    <th>Software Source</th>
    <td>Microsoft / Linux (Open Source)</td>
  </tr>
  <tr>
    <th>Type</th>
    <td>Kernelspace</td>
  </tr>
  <tr>
    <th>SubType</th>
    <td>Azure Sphere Linux Kernel (Microsoft-modifications)</td>
  </tr>
  <tr>
    <th>Attack Surface</th>
    <td>IOCTL (pwm_ioctl_apply_state)</td>
  </tr>
  <tr>
    <th>Discovered in the Wild? (i.e. <a href="https://en.wikipedia.org/wiki/Zero-day_(computing)">0day</a>?)</th>
    <td>No</td>
  </tr>  
  <tr>
    <th>Public Proof-of-Concept Exploit Available?</th>
    <td>No</td>
  </tr>
  <tr>
    <th>External Resources</th>
    <td>[1] Blog - <a href="https://talosintelligence.com/vulnerability_reports/TALOS-2021-1262">https://talosintelligence.com/vulnerability_reports/TALOS-2021-1262</a><p></p>
      	[2] Vulnerable source download ("Linux Kernel" release "21.01") - Direct links expire, so just go to <a href="https://thirdpartysource.microsoft.com/">https://thirdpartysource.microsoft.com/</a> and type "sphere" into the search bar, and look for the "Linux kernel" version 21.01 entry.<p></p>
      	[3] "The Seven Properties of Highly Secure Devices" whitepaper, Azure Sphere design principles - <a href="https://www.microsoft.com/en-us/research/wp-content/uploads/2017/03/SevenPropertiesofHighlySecureDevices.pdf">https://www.microsoft.com/en-us/research/wp-content/uploads/2017/03/SevenPropertiesofHighlySecureDevices.pdf</a>
    </td>
  </tr>
  <tr>
    <th>Contributor Social Media Handles</th>
    <td>Lilith Wyatt (Unknown. Let us know if you know.)<p></p>
    </td>
  </tr>
  <tr>
    <th>Anticipated difficulty for students to find vulnerability via source code inspection</th>
    <td>Easy-to-medium<p></p>
    </td>
  </tr>
</table>