<h1>Prevention</h1>
<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 30%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
    </colgroup>
  
  <tr>
    <th> </th>
    <th>Sanity Checks / Safe Code Guidance</th>
    <th>FORTIFY_SOURCE</th>
    <th>Safer CRT functions</th>
    <th>Write code in Rust</th>
    <th>Write code in Go</th>
    <th>Safe-Math</th>
    <th>Compiler<p>auto-initialization</th>
  </tr>
  <tr>
    <th><b>(Linear) Stack Buffer Overflow</b></th>
    <td> ✅ </td>
    <td> ✅ </td>
    <td> ✅ </td>
    <td> ✅ </td>
    <td> ✅ </td>
    <td> </td>
    <td> </td>
  </tr>
  <tr>
    <th><b>(Linear) Heap Buffer Overflow</b></th>
    <td> ✅ </td>
    <td> ✅ </td>
    <td> ✅ </td>
    <td> ✅ </td>
    <td> ✅ </td>
    <td> </td>
    <td> </td>
  </tr>
  <tr>
    <th><b>(Non-linear) Out-Of-Bounds Writes</b></th>
    <td> ✅ </td>
    <td> </td>
    <td> </td>
    <td> ✅ </td>
    <td> ✅ </td>
    <td> ✅ <i>Some</i>, if used with pointer arithmetic</td>
    <td> </td>
  </tr>
  <tr>
    <th><b>Integer Overflow/Underflow</b></th>
    <td> ✅ </td>
    <td> </td>
    <td> </td>
    <td> ✅ </td>
    <td> ? </td>
    <td> ✅ </td>
    <td> </td>
  </tr>
  <tr>
    <th><b>Other Integer Issues</b></th>
    <td> ✅ </td>
    <td> </td>
    <td> </td>
    <td> ? </td>
    <td> ? </td>
    <td> </td>
    <td> </td>
  </tr>
  <tr>
    <th><b>Uninitialized Data Access</b></th>
    <td> ✅ (in this context, manual initialization)</td>
    <td> </td>
    <td> </td>
    <td> ✅ (safe rust won't let you use uninitialized values, but if you explicitly use the unsafe keyword it would)</td>
    <td> ✅ </td>
    <td> </td>
    <td> ✅ </td>
  </tr>
  <tr>
    <th><b>Race Conditions</b></th>
    <td> ✅ (in this context, using mutual exclusion / just-fetch-once)</td>
    <td> </td>
    <td> </td>
    <td> ✅ (safe Rust guarantees no data races in its concurrency model)</td>
    <td> 👎 (the major safety difference between Rust and Go, is that Go is <a href="https://blog.stalkr.net/2015/04/golang-data-races-to-break-memory-safety.html">not guaranteed to avoid data races</a>) </td>
    <td> </td>
    <td> </td>
  </tr>
  <tr>
    <th><b>Use After Free</b></th>
    <td> ⬆️ (for race-based-UAF) + ✅ (free-and-NULL⚔️, etc)</td>
    <td> </td>
    <td> </td>
    <td> ✅ </td>
    <td> ⬆️👎 (for those UAF caused by races) </td>
    <td> </td>
    <td> </td>
  </tr>
  <tr>
    <th><b>Type Confusion</b></th>
    <td> ✅ (dynamic_cast, etc)</td>
    <td> </td>
    <td> </td>
    <td> ✅ </td>
    <td> ✅ (mostly. Except for TyCo caused by races⬆️) </td>
    <td> </td>
    <td> </td>
  </tr>

</table>