<h1>Mitigation</h1>
<p style="font-size: 16px;"></p>
<p style="font-size: 16px;">None of the mitigations we learned about previously can <em>directly</em> mitigate UDA vulnerabilities at their root cause! And tagged memory can only handle a small subset of the problem. (And tagged memory adoption is not particularly actionable at the moment.)</p>
<p style="font-size: 16px;"></p>
<p style="font-size: 16px;">Therefore you better pay attention to the <strong>prevention</strong> and <strong>detection</strong> guidance, eh?</p>