<h1>FAQ: How can I ask questions about the material?</h1>
<p></p>
<p>We'd prefer you use the "Discussion" section under each unit. That way other students can see if someone else has asked the same question already, and/or they can try to answer the question if they think they know it. In general, after the private beta period, the instructors will only drop in occasionally to answer questions, as they need to spend their time making new classes.</p>