<h1>Bonus Bugs</h1>
<p style="font-size: 16px;"></p>
<p style="font-size: 16px;">The following are vulnerabilities of this type, that we collected while looking for examples, but that we have not written up yet. It could be that we'll write them up later, or it could be that they may end up not being suitable for this class (e.g. due to being deemed too simple or complex, too duplicative of existing examples (and we want more diversity), or a lack of pseudocode and a desire by the instructors to minimize time spent cleaning up pseudocode ourselves.)</p>
<p style="font-size: 16px;">These bugs are provided so that if you'd like to do a little self-study after class, you can hopefully see how this class has helped you be able to understand other vulnerability write-ups better. (However, you are recommended to read the original work for all the vulnerabilities we provide a walk-through for before you start on these ones.)</p>