<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 80%;">
    </colgroup>
  <tr>
    <th>CVE</th>
    <td><a href="/jump_to_id/887f24bbd3ca4e7e9a4c8434b45ee936">🌚CVE-2019-14580️⃣🔥👉✴️</a></td>
  </tr>
  <tr>
    <th>Software Source</th>
    <td>Microsoft</td>
  </tr>
  <tr>
    <th>Type</th>
    <td>Kernelspace</td>
  </tr>
  <tr>
    <th>SubType</th>
    <td>Kernel Subsystem (Win32k.sys)</td>
  </tr>
  <tr>
    <th>Attack Surface</th>
    <td>System Call (SetWindowLongPtr)</td>
  </tr>
  <tr>
    <th>Discovered in the Wild? (i.e. <a href="https://en.wikipedia.org/wiki/Zero-day_(computing)">0day</a>?)</th>
    <td><b>Yes</b></td>
  </tr>  
  <tr>
    <th>Public Proof-of-Concept Exploit Available?</th>
    <td><b>Yes</b></td>
  </tr>
  <tr>
    <th>External Resources</th>
    <td>[1] Kaspersky blog post - <a href="https://securelist.com/windows-0-day-exploit-cve-2019-1458-used-in-operation-wizardopium/95432/">https://securelist.com/windows-0-day-exploit-cve-2019-1458-used-in-operation-wizardopium/95432/</a><p></p>
      	[2] Piotr Florczyk's Root Cause Analysis and PoC - <a href="https://github.com/piotrflorczyk/cve-2019-1458_POC">https://github.com/piotrflorczyk/cve-2019-1458_POC</a><p></p>
      	[3] Google Project Zero Root Cause Analysis - <a href="https://googleprojectzero.github.io/0days-in-the-wild/0day-RCAs/2019/CVE-2019-1458.html">https://googleprojectzero.github.io/0days-in-the-wild/0day-RCAs/2019/CVE-2019-1458.html</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Contributor Social Media Handles</th>
    <td><a href="https://twitter.com/oct0xor">Boris Larin</a><p></p>
      	<a href="https://twitter.com/flat_z">Alexey Kulaev</a><p></p>
        <a href="https://twitter.com/florek_pl">Piotr Florczyk</a><p></p>
        <a href="https://twitter.com/maddiestone">Maddie Stone</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Anticipated difficulty for students to find vulnerability via source code inspection</th>
    <td>N/A<p></p>
    </td>
  </tr>
</table>