<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 80%;">
    </colgroup>
  <tr>
    <th>CVE</th>
    <td><a href="/jump_to_id/db1f8d59d5e34804b65b23bddf04a19c">CVE-2020-3853⏱️🆕🪤</a></td>
  </tr>
  <tr>
    <th>Software Source</th>
    <td>Apple</td>
  </tr>
  <tr>
    <th>Type</th>
    <td>Kernelspace</td>
  </tr>
  <tr>
    <th>SubType</th>
    <td>XNU kernel</td>
  </tr>
  <tr>
    <th>Attack Surface</th>
    <td>Mach Ports ()</td>
  </tr>
  <tr>
    <th>Discovered in the Wild? (i.e. <a href="https://en.wikipedia.org/wiki/Zero-day_(computing)">0day</a>?)</th>
    <td>No</td>
  </tr>  
  <tr>
    <th>Public Proof-of-Concept Exploit Available?</th>
    <td><b>Yes</b></td>
  </tr>
  <tr>
    <th>External Resources</th>
    <td>[1] Apple Mach documentation - <a href="https://developer.apple.com/library/archive/documentation/Darwin/Conceptual/KernelProgramming/Mach/Mach.html">https://developer.apple.com/library/archive/documentation/Darwin/Conceptual/KernelProgramming/Mach/Mach.html</a><p></p>
      	[2] 3rd party Mach documentation - <a href="http://web.eecs.utk.edu/~qcao1/cs560/papers/mach.pdf">http://web.eecs.utk.edu/~qcao1/cs560/papers/mach.pdf</a><p></p>
      	[3] Vulnerability description & PoC <a href="https://bugs.chromium.org/p/project-zero/issues/detail?id=1960">https://bugs.chromium.org/p/project-zero/issues/detail?id=1960</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Contributor Social Media Handles</th>
    <td><a href="https://twitter.com/_bazad">Brandon Azad</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Anticipated difficulty for students to find vulnerability via source code inspection</th>
    <td>Medium-to-hard<p></p>
    </td>
  </tr>
</table>