<h1><strong>Vulnerable commit:</strong></h1>
<p style="font-size: 16px;">If you'd like to look at the code with full context, it can be checked out using the below:</p>
<p style="padding-left: 30px;"><span style="font-size: 16px;">git clone </span>https://github.com/microsoft/mu_feature_mm_supv.git mu_feature_mm_supv_CVE-NA-Race</p>
<p style="font-size: 16px; padding-left: 30px;">cd mu_feature_mm_supv_CVE-NA-Race</p>
<p style="font-size: 16px; padding-left: 30px;">git checkout 517b315e50b2241efcec8af348c8c10cb7b51719</p>
<p style="font-size: 16px;">In order to have your preferred IDE find some definitions, you will also need to check out EDK2 with the below:</p>
<p style="padding-left: 30px;">git clone https://github.com/tianocore/edk2.git </p>
<p>And then point your IDE's list of at include directories at paths such as edk2/MdePkg/Include/X64/, edk2/MdePkg/Include/Library/, etc.</p>