<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 80%;">
    </colgroup>
  <tr>
    <th>CVE</th>
    <td><a href="/jump_to_id/75237108fc7a4ef4a7684a00de4894fb">CVE-2019-11098🗣️🕴</a></td>
  </tr>
  <tr>
    <th>Software Source</th>
    <td>Intel (Open Source)</td>
  </tr>
  <tr>
    <th>Type</th>
    <td>Firmware</td>
  </tr>
  <tr>
    <th>SubType</th>
    <td>UEFI (reference EDK2 code)</td>
  </tr>
  <tr>
    <th>Attack Surface</th>
    <td>Shared SPI Flash (Intel BootGuard)</td>
  </tr>
  <tr>
    <th>Discovered in the Wild? (i.e. <a href="https://en.wikipedia.org/wiki/Zero-day_(computing)">0day</a>?)</th>
    <td>No</td>
  </tr>  
  <tr>
    <th>Public Proof-of-Concept Exploit Available?</th>
    <td>No</td>
  </tr>
  <tr>
    <th>External Resources</th>
    <td>[1] Conference slides - <a href="https://conference.hitb.org/hitbsecconf2019ams/materials/D1T1%20-%20Toctou%20Attacks%20Against%20Secure%20Boot%20-%20Trammell%20Hudson%20&%20Peter%20Bosch.pdf">https://conference.hitb.org/hitbsecconf2019ams/materials/D1T1%20-%20Toctou%20Attacks%20Against%20Secure%20Boot%20-%20Trammell%20Hudson%20&%20Peter%20Bosch.pdf</a><p></p>
      	[2] Conference video - <a href="https://www.youtube.com/watch?v=hx9MS1_1e2c">https://www.youtube.com/watch?v=hx9MS1_1e2c</a><p></p>
      	[3] Peter Bosch's blog - <a href="https://pbx.sh/efitoctou/">https://pbx.sh/efitoctou/</a><p></p>
      	[4] Trammell Hudson's blog - <a href="https://trmm.net/TOCTOU/">https://trmm.net/TOCTOU/</a><p></p>
      	[5] Blog about SPI Spy - <a href="https://trmm.net/Spispy/">https://trmm.net/Spispy/</a><p></p>
      	[6] Presentation about SPI Spy - <a href="https://www.youtube.com/watch?v=-qdL0hIwstw">https://www.youtube.com/watch?v=-qdL0hIwstw</a><p></p>      
      	[6] SPI Spy repository - <a href="https://github.com/osresearch/spispy">https://github.com/osresearch/spispy</a><p></p>      
    </td>
  </tr>
  <tr>
    <th>Contributor Social Media Handles</th>
    <td><a href="https://twitter.com/peterbjornx">Peter Bosch</a><p></p>
		<a href="https://twitter.com/qrs">Trammell Hudson</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Anticipated difficulty for students to find vulnerability via source code inspection</th>
    <td>N/A<p></p>
    </td>
  </tr>
</table>