<h1>🏋️‍♂️Exercise!🧗:</h1>
<h1>🤔Find The Flaw😵‍💫</h1>
<p style="font-size: 16px;">Look at the following code, and see if you can identify the vulnerability.</p>
<p style="font-size: 16px;">(Note: you can double click on variables to highlight where they are used. You can also type notes to yourself in the editor, but they won't be saved.)</p>