<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 80%;">
    </colgroup>
  <tr>
    <th>CVE</th>
    <td><a href="/jump_to_id/c1e5c8aeea1b42bea44585c2e60d787e">CVE-2022-29181🪚</a></td>
  </tr>
  <tr>
    <th>Software Source</th>
    <td>Nokogiri (Open Source)</td>
  </tr>
  <tr>
    <th>Type</th>
    <td>Userspace</td>
  </tr>
  <tr>
    <th>SubType</th>
    <td>Library (Ruby)</td>
  </tr>
  <tr>
    <th>Attack Surface</th>
    <td>Document Parsing (XML, HTML)</td>
  </tr>
  <tr>
    <th>Discovered in the Wild? (i.e. <a href="https://en.wikipedia.org/wiki/Zero-day_(computing)">0day</a>?)</th>
    <td>No</td>
  </tr>  
  <tr>
    <th>Public Proof-of-Concept Exploit Available?</th>
    <td>No</td>
  </tr>
  <tr>
    <th>External Resources</th>
    <td>[1] Advisory - <a href="https://securitylab.github.com/advisories/GHSL-2022-031_GHSL-2022-032_Nokogiri/">https://securitylab.github.com/advisories/GHSL-2022-031_GHSL-2022-032_Nokogiri/</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Contributor Social Media Handles</th>
    <td><a href="https://twitter.com/agustingianni">Agustin Gianni</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Anticipated difficulty for students to find vulnerability via source code inspection</th>
    <td>Easy<p></p>
    </td>
  </tr>
</table>