<h2> Info leak vulnerability root-cause, by CVE </h2>

<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
    </colgroup>
  <tr>
    <th> </th>
    <th>(Linear) Stack Over-Read</th>
    <th>(Linear) Heap Over-Read</th>
    <th>Out-of-bounds-read (OOB-R)</th>
    <th>Integer Overflow or Underflow</th>
    <th>Other Integer Issue</th>
    <th>Uninitialized Data Access</th>
    <th>Race Condition</th>
    <th>Use-After-Free</th>
    <th>Type Confusion</th>
  </tr>
  <tr>
    <th><b>CVE-2019-8921🟦💤</b></th>
    <td></td>
    <td>Y</td>
    <td></td>
    <td>Y</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    </td>
  </tr>
  <tr>
    <th><b>CVE-2021-3947🦤</b></th>
    <td></td>
    <td></td>
    <td>Y</td>
    <td>Y</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    </td>
  </tr>
  <tr>
    <th><b>CVE-2020-25624🦤2️⃣</b></th>
    <td></td>
    <td>Y (I'm actually not sure if the buffer being over-read here is allocated as a global or on the heap...)</td>
    <td></td>
    <td>Y</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    </td>
  </tr>
  <tr>
    <th><b>CVE-2021-22898➰ and CVE-2021-22925➰2️⃣</b></th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Y</td>
    <td></td>
    <td></td>
    <td></td>
    </td>
  </tr>
  <tr>
    <th><b>CVE-2020-9833🍎📶</b></th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Y</td>
    <td>Y</td>
    <td></td>
    <td></td>
    </td>
  </tr>
  <tr>
    <th><b>CVE-2022-22252🇨🇳🏆🪵</b></th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Y</td>
    <td></td>
    </td>
  </tr>
	<tr>
    <th><b>CVE-2022-29181🪚</b></th>
    <td></td>
    <td></td>
    <td>Y</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Y</td>
    </td>
  </tr>
</table>