<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 80%;">
    </colgroup>
  <tr>
    <th>CVE</th>
    <td><a href="/jump_to_id/ac1bb998f09f4cd094339f5006c3f75d">CVE-2021-3608🎮🔜🧠</a></td>
  </tr>
  <tr>
    <th>Software Source</th>
    <td>QEMU (Open Source)</td>
  </tr>
  <tr>
    <th>Type</th>
    <td>Virtualization</td>
  </tr>
  <tr>
    <th>SubType</th>
    <td>Hypervisor</td>
  </tr>
  <tr>
    <th>Attack Surface</th>
    <td>Para-virtualized Remote-DMA</td>
  </tr>
  <tr>
    <th>Discovered in the Wild? (i.e. <a href="https://en.wikipedia.org/wiki/Zero-day_(computing)">0day</a>?)</th>
    <td>No</td>
  </tr>  
  <tr>
    <th>Public Proof-of-Concept Exploit Available?</th>
    <td>No</td>
  </tr>
  <tr>
    <th>External Resources</th>
    <td>[1] Patch - <a href="https://github.com/qemu/qemu/commit/66ae37d8cc313f89272e711174a846a229bcdbd3">https://github.com/qemu/qemu/commit/66ae37d8cc313f89272e711174a846a229bcdbd3</a><p></p>
      	[2] PoC (Google translate from Chinese. The source code gets messed up, so view original to view source.) - <a href="https://www-cyberkl-com.translate.goog/cvelist/cvedetail/84?_x_tr_sl=zh-CN&_x_tr_tl=en&_x_tr_hl=en&_x_tr_pto=wapp">https://www-cyberkl-com.translate.goog/cvelist/cvedetail/84?_x_tr_sl=zh-CN&_x_tr_tl=en&_x_tr_hl=en&_x_tr_pto=wapp</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Contributor Social Media Handles</th>
    <td><a href="https://twitter.com/vv474172261">VictorV (Tang Tianwen)</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Anticipated difficulty for students to find vulnerability via source code inspection</th>
    <td>Easy<p></p>
    </td>
  </tr>
</table>