<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 80%;">
    </colgroup>
  <tr>
    <th>CVE</th>
    <td><a href="/jump_to_id/33e6f0c3e45f4118940808009c3f2284">CVE-2020-9833🍎📶</a></td>
  </tr>
  <tr>
    <th>Software Source</th>
    <td>Apple</td>
  </tr>
  <tr>
    <th>Type</th>
    <td>Kernelspace</td>
  </tr>
  <tr>
    <th>SubType</th>
    <td>Kernel Extension (AppleBCMWLANBusInterfacePCIe)</td>
  </tr>
  <tr>
    <th>Attack Surface</th>
    <td>User-callable functions (loadChipImage(), handleFWTrap(), copyTrapInfoBlob())</td>
  </tr>
  <tr>
    <th>Discovered in the Wild? (i.e. <a href="https://en.wikipedia.org/wiki/Zero-day_(computing)">0day</a>?)</th>
    <td>No</td>
  </tr>  
  <tr>
    <th>Public Proof-of-Concept Exploit Available?</th>
    <td>No</td>
  </tr>
  <tr>
    <th>External Resources</th>
    <td>[1] Slides - <a href="https://i.blackhat.com/USA-20/Thursday/us-20-Wang-Dive-into-Apple-IO80211FamilyV2.pdf">https://i.blackhat.com/USA-20/Thursday/us-20-Wang-Dive-into-Apple-IO80211FamilyV2.pdf</a><p></p>
    	[2] Video - <a href="https://www.youtube.com/watch?v=GFHSE60N3io">https://www.youtube.com/watch?v=GFHSE60N3io</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Contributor Social Media Handles</th>
    <td><a href="https://twitter.com/keenjoy95">Yu Wang</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Anticipated difficulty for students to find vulnerability via source code inspection</th>
    <td>Easy-to-medium<p></p>
    </td>
  </tr>
</table>