<h1>Mitigation</h1>
<p style="font-size: 16px;"></p>
<p style="font-size: 16px;">None of the mitigations we learned about previously can <em>directly</em> mitigate UAF vulnerabilities at their root cause! And while tagged memory would definitely mitigate it, adoption is not particularly actionable at the moment.</p>
<p style="font-size: 16px;"></p>
<p style="font-size: 16px;">Therefore you better pay attention to the <strong>prevention</strong> and <strong>detection</strong> guidance, eh?</p>