<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 80%;">
    </colgroup>
  <tr>
    <th>CVE</th>
    <td><a href="/jump_to_id/2bef6d7bc21d4fc7a2f6aa59e87d4a11">CVE-2020-7460🗣️🆓😈</a></td>
  </tr>
  <tr>
    <th>Software Source</th>
    <td>FreeBSD (Open Source)</td>
  </tr>
  <tr>
    <th>Type</th>
    <td>Kernelspace</td>
  </tr>
  <tr>
    <th>SubType</th>
    <td>Kernel</td>
  </tr>
  <tr>
    <th>Attack Surface</th>
    <td>System Calls (sendmsg)</td>
  </tr>
  <tr>
    <th>Discovered in the Wild? (i.e. <a href="https://en.wikipedia.org/wiki/Zero-day_(computing)">0day</a>?)</th>
    <td>No</td>
  </tr>  
  <tr>
    <th>Public Proof-of-Concept Exploit Available?</th>
    <td><b>Yes</b></td>
  </tr>
  <tr>
    <th>External Resources</th>
    <td>[1] Blog - <a href="https://www.zerodayinitiative.com/blog/2020/9/1/cve-2020-7460-freebsd-kernel-privilege-escalation">https://www.zerodayinitiative.com/blog/2020/9/1/cve-2020-7460-freebsd-kernel-privilege-escalation</a><p></p>
      	[2] PoC - <a href="https://github.com/thezdi/PoC/blob/master/CVE-2020-7460/CVE-2020-7460.c">https://github.com/thezdi/PoC/blob/master/CVE-2020-7460/CVE-2020-7460.c</a><p></p>
      	[3] Patch - <a href="https://cgit.freebsd.org/src/commit/?id=1b1428dcc82b54b7a2c332680d2f66945bf9899b&context=3&ignorews=0&dt=1">https://cgit.freebsd.org/src/commit/?id=1b1428dcc82b54b7a2c332680d2f66945bf9899b&context=3&ignorews=0&dt=1</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Contributor Social Media Handles</th>
    <td><a href="https://twitter.com/m00nbsd">m00nbsd</a><p></p>
    </td>
  </tr>
  <tr>
    <th>Anticipated difficulty for students to find vulnerability via source code inspection</th>
    <td>Easy<p></p>
    </td>
  </tr>
</table>