<table style="width: 100%">
    <colgroup>
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
       <col span="1" style="width: 20%;">
    </colgroup>
  <tr>
    <th> </th>
    <th>Server</th>
    <th>Desktop</th>
    <th>Mobile</th>
    <th>Embedded</th>
  </tr>
  <tr>
    <th><b>Userspace</b></th>
    <td><a href="/jump_to_id/c1e5c8aeea1b42bea44585c2e60d787e">CVE-2022-29181🪚</a><p></p>
      	<a href="/jump_to_id/b60ef73aa61649a1bb9d20fc0fd768a1">CVE-2019-8921🟦💤</a><p></p>
      	<a href="/jump_to_id/f67e789c1eaf4b96b7e9e63bc4eacfe9">CVE-2021-22898➰</a><p></p>
      	<a href="/jump_to_id/f67e789c1eaf4b96b7e9e63bc4eacfe9">CVE-2021-22925➰2️⃣</a>
    </td>
    <td><a href="/jump_to_id/c1e5c8aeea1b42bea44585c2e60d787e">CVE-2022-29181🪚</a><p></p>
      	<a href="/jump_to_id/b60ef73aa61649a1bb9d20fc0fd768a1">CVE-2019-8921🟦💤</a><p></p>
      	<a href="/jump_to_id/f67e789c1eaf4b96b7e9e63bc4eacfe9">CVE-2021-22898➰</a><p></p>
      	<a href="/jump_to_id/f67e789c1eaf4b96b7e9e63bc4eacfe9">CVE-2021-22925➰2️⃣</a>
    </td>
    <td><a href="/jump_to_id/b60ef73aa61649a1bb9d20fc0fd768a1">CVE-2019-8921🟦💤</a><p></p>
      	<a href="/jump_to_id/f67e789c1eaf4b96b7e9e63bc4eacfe9">CVE-2021-22898➰</a><p></p>
      	<a href="/jump_to_id/f67e789c1eaf4b96b7e9e63bc4eacfe9">CVE-2021-22925➰2️⃣</a>
    </td>
    <td><a href="/jump_to_id/b60ef73aa61649a1bb9d20fc0fd768a1">CVE-2019-8921🟦💤</a><p></p>
      	<a href="/jump_to_id/f67e789c1eaf4b96b7e9e63bc4eacfe9">CVE-2021-22898➰</a><p></p>
      	<a href="/jump_to_id/f67e789c1eaf4b96b7e9e63bc4eacfe9">CVE-2021-22925➰2️⃣</a>
    </td>
  </tr>
  <tr>
    <th><b>Kernelspace</b></th>
    <td>
    </td>
    <td><a href="/jump_to_id/33e6f0c3e45f4118940808009c3f2284">CVE-2020-9833🍎📶</a><p></p>
    </td>
    <td><a href="/jump_to_id/33e6f0c3e45f4118940808009c3f2284">CVE-2020-9833🍎📶</a><p></p>
      	<a href="/jump_to_id/a4d69ca6d36f40aeaad90d5932ac31ba">CVE-2022-22252🇨🇳🏆🪵</a><p></p>
    </td>
    <td><a href="/jump_to_id/33e6f0c3e45f4118940808009c3f2284">CVE-2020-9833🍎📶</a><p></p>
    </td>
  </tr>
  <tr>
    <th><b>Virtualization</b></th>
    <td><a href="/jump_to_id/5a0d6d5150e646a2a65722ad1c83e8e6">CVE-2021-3947🦤</a><p></p>
      	<a href="/jump_to_id/e10523d0dd6743b1b11b91c2314ffd50">CVE-2020-25624🦤2️⃣</a><p></p>
    </td>
    <td><a href="/jump_to_id/5a0d6d5150e646a2a65722ad1c83e8e6">CVE-2021-3947🦤</a><p></p>
      	<a href="/jump_to_id/e10523d0dd6743b1b11b91c2314ffd50">CVE-2020-25624🦤2️⃣</a><p></p>
    </td>
    <td>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <th><b>Firmware <br> (pre/parallel-to-OS)</b></th>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
  </tr>
</table>