<h1>🏋️‍♂️Exercise!🧗:</h1>
<h1>🤔Find The Flaw😵‍💫</h1>
<p style="font-size: 16px;">The below three functions are a minimized <em>hint</em> about where the vulnerability is. To actually look at the code, you should check out the vulnerable version as described below, and use your favorite code reader to navigate through the code and find the flaw. If you get lost in the code, come back and look at the hint code below. The vulnerability should be visible within that code (even if not all the required definitions' values are.)</p>
<p style="font-size: 16px;"><b style="font-size: 16px;">Start analysis in </b><b>host_request_notification</b><b style="font-size: 16px;">().</b> </p>
<p style="font-size: 16px;">Note 1: If you are trying to go to the definition of something, and you are presented with multiple choices, like the below, the one with "libsyscall" in the path is for a version that is usable from userspace, whereas the one with the "osfmk" in the path is for the version used in kernelspace.</p>
<p style="font-size: 16px;"><img src="blob:https://studio.beta.ost2.fyi/61a19d6a-963c-47e0-905c-99bd24b1bcc2" alt="" /></p>
<p style="font-size: 16px;">Note 2: You should probably set the following preprocessor defines in your code viewing environment to yield better finding of definitions:</p>
<p style="font-size: 16px; padding-left: 30px;">KERNEL 1</p>
<p style="font-size: 16px; padding-left: 30px;">PRIVATE 1</p>
<p style="font-size: 16px; padding-left: 30px;">KERNEL_PRIVATE 1</p>
<p style="font-size: 16px; padding-left: 30px;">MACH_KERNEL_PRIVATE 1</p>
<p style="font-size: 16px; padding-left: 30px;">XNU_KERNEL_PRIVATE 1</p>
<p style="font-size: 16px; padding-left: 30px;">IMPORTANCE_INHERITANCE 1</p>
<p style="font-size: 16px;"><strong>Vulnerable commit:</strong></p>
<p style="font-size: 16px;">git clone https://github.com/apple-oss-distributions/xnu.git xnu_CVE-2020-27932</p>
<p style="font-size: 16px;">cd xnu_CVE-2020-27932</p>
<p style="font-size: 16px;">git checkout xnu-6153.141.1</p>
<p style="font-size: 16px;"></p>
<p style="font-size: 16px;">It is also available for download from:</p>
<p style="font-size: 16px;"><a href="https://github.com/apple-oss-distributions/xnu/archive/refs/tags/xnu-6153.141.1.tar.gz" target="[object Object]">https://github.com/apple-oss-distributions/xnu/archive/refs/tags/xnu-6153.141.1.tar.gz</a></p>