<section class="about">
  <h2>About This Course</h2>
  <p> <b>This is a dual-audience class.</b> It is for both developers who want to learn how to write code without introducing new vulnerabilities (or how to detect existing vulnerabilities in their own code). But it's also a class for aspiring code auditors and freelance vulnerability hunters. And it's a prerequisite for eventually learning about vulnerability exploitation. So it's an epic battle between contentious developers and devious vulnerability hunters! Who will win?! Whoever most takes the lessons of this class to heart!</p> 

  <p> This class is structured in 5 main topic areas, corresponding to the vulnerability types we will cover: uninitialized data access (UDA), race conditions (double fetch and Time of Check, Time of Use (TOCTOU)), use-after-free (UAF), type confusion (TyCo), and information disclosure (Info Leak). For each topic area we explain at least 6 real vulnerabilities. And for at least one of those vulnerabilities we explain how it could be exploited, so that students can understand that exploitation engineering is just a typical engineering discipline, akin to a specialized form of software engineering. And thus even when vulnerabilities perhaps don't look exploitable, they still often are. At the end of each topic area, we cover prevention, detection, and mitigation options for dealing with that vulnerability type.</p>

  <p> Real vulnerabilities covered in class
  <ol>
    <li>Uninitialized Data Access (UDA):
      <ol>
  		<li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-26721">CVE-2022-26721</a> </li>
        <li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-1809">CVE-2022-1809</a></li>
        <li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-3608">CVE-2021-3608</a></li>
        <li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-29968">CVE-2022-29968</a></li>
        <li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-1458">CVE-2019-1458</a> (Exploited in the wild, 0day, includes exploit walkthrough)</li>
        <li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-27080">CVE-2021-27080</a></li>
      </ol>
      </li>
    <li>Race Conditions (including double fetch and Time of Check, Time of Use (TOCTOU)):
    <ol> 
      <li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-11098">CVE-2019-11098</a> (Includes exploit walkthrough)</li>
      <li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-4207">CVE-2021-4207</a></li>
      <li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-34514">CVE-2021-34514</a></li>
      <li>2022 no CVE assigned, Microsoft Mu</li>
      <li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-7460">CVE-2020-7460</a></li>
      <li>2019 no CVE assigned, Qualcomm baseband firmware </li>
      </ol>
    </li>
    <li>Use After Free (UAF):
      <ol> 
        <li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-29661">CVE-2020-29661</a> (Includes exploit walkthrough)</li>
        <li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-28460">CVE-2021-28460</a></li>
        <li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-2674">CVE-2020-2674</a></li>
        <li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-36955">CVE-2021-36955</a></li>
        <li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-9715">CVE-2020-9715</a></li>
      </ol>
    </li>
    <li>Type Confusion:
      <ol> 
        <li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-1732">CVE-2021-1732</a> (Exploited in the wild, 0day, includes exploit walkthrough)</li>
      	<li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-21882">CVE-2022-21882</a> (Exploited in the wild, 0day, includes exploit walkthrough)</li>
        <li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-3853">CVE-2020-3853</a></li>
        <li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-27932">CVE-2019-14192</a> (Exploited in the wild, 0day)</li>
        <li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-30869">CVE-2021-30869</a> (Exploited in the wild, Nday)</li>
        <li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-30857">CVE-2021-30857</a></li>
        <li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-41073">CVE-2021-41073</a></li>
      </ol>
    </li>
    <li>Information Disclosure:
      <ol> 
        <li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-22252">CVE-2022-22252</a></li>
        <li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-29181">CVE-2022-29181</a></li>
        <li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-9833">CVE-2020-9833</a></li>
        <li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-3947">CVE-2021-3947</a></li>
        <li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-25624">CVE-2020-25624</a></li>
        <li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-8921">CVE-2019-8921</a></li>
        <li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-22898">CVE-2021-22898</a></li>
        <li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-22925">CVE-2021-22925</a></li>
      </ol>
    </li>
  </ol>
  
<p> Learning Objectives
<br> * Learn to recognize the common programming errors that lead to uninitialized data access (UDA), race conditions (double fetch and Time of Check, Time of Use (TOCTOU)), use-after-free (UAF), type confusion (TyCo), and information disclosure (info leak).
<br> * Learn what options developers have in terms of prevention, detection, and mitigation for each vulnerability type.
<br> * Showing examples of exploitation of a subset of the example vulnerabilities, that might otherwise seem unexploitable.

  <p> A <i>non-goal</i> of this class is to teach the student how to <i>exploit</i> the vulnerabilities themselves. That will be covered in a future Exploits 1001 class. (Therefore this class's job-applicability stops at "secure development" or "vulnerability auditor", and doesn't extend to "exploitation engineer".)
    <br>Another <i>non-goal</i> of this class is to cover <i>design issues</i>, which are more varied in their appearance and remediation guidance. This class is specifically about the most common <i>implementation</i> issues, which have been occuring for the last 30+ years and continue to occur today, despite some fairly straightforward guidance that can eliminate the majority of them. </p>
  
</section>

<section class="prerequisites">
  <h2>Requirements</h2>
  <p>This class has minimal prerequisites. It just requires that you are comfortable with reading small (< 100 line) C programs. You should have also completed <a href="https://ost2.fyi/Vulns1001">Vulnerabilities 1001</a> before starting this class.</p>
</section>

<section class="faq">
  <section class="responses">
    <h2>Frequently Asked Questions</h2>
    <article class="response">
      <h3>What learning paths is this class used in?</h3>
      <p>Secure Development, Vulnerability Hunting and Exploitation, System Security</p>
    </article>

    <article class="response">
      <h3>Do the instructors teach this class in person?</h3>
      <p>Xeno does, but only occasionally. Xeno's preferred in-person delivery method is a hybrid structure where we get everyone in the same room, and students proceed through the class at their own pace by watching videos. Xeno is then available in person and chat to answer questions immediately when they occur. This is called an "<a href="https://ost2.fyi/Thoughts-on-OST2-B.html">OST2 All-you-can-learn Buffet</a>" (OST2-B) class. The next such class will be at <a href="https://www.secwest.net/csw23-dojos/xenos-all-you-can-learn-buffet">CanSecWest</a> in Vancouver March 18-21. He only does "live-lecture" classes for companies that have <a href="https://ost2.fyi/Sponsorship.html">sponsored</a> OST2, if they insist that they want this anachronistic and suboptimal delivery method.</p>
    </article>    
    
    <article class="response">
      <h3>To <i>be</i> or not to <i>be</i>?</h3>
      <p>That <i>is</i> the question...</p>
    </article>
  </section>
</section>

<section class="course-staff">
  <h2>Course Staff</h2>
  <article class="teacher">
    <div class="teacher-image">
      <img src="https://drive.google.com/uc?export=view&id=1FP8MHCwZEw7pAVOyNfML1wvAzr1Nkj8l" align="left" style="margin:0 20 px 0" alt="Xeno's Twitter Pic!">
    </div>

    <h3><a href="https://twitter.com/XenoKovah">Xeno Kovah</a></h3>
    <p><a href="https://twitter.com/XenoKovah">Xeno</a> founded <a href="https://twitter.com/OpenSecTraining">OpenSecurityTraining(1)</a> in 2011 to share his and others' trainings more widely. He relaunched <a href="https://ost2.fyi">OpenSecurityTraining2</a> in 2021.</p>
      
    <p>Xeno's from Minnesota and has a BS in CS from UMN. He received a MS in computer security from Carnegie Mellon through the National Science Foundation "CyberCorps <i>Scholarship for Service</i>". But the US government didn't really yet know what to do with "cyber" people in 2007; so he ended up going to work for a Federally Funded Research and Development Center - MITRE. Xeno worked exclusively on internal-funded research projects, first as a participant and later as a leader on Windows kernel malware detection and trusted computing projects. Towards the end, other cool researchers inspired him to dig into BIOS and firmware level threats.</p>
    
    <p>Xeno left MITRE to start an independent consultancy, <a href="https://legbacore.com">LegbaCore</a>, with Corey Kallenberg in 2015. Less than a year later, under <i>mysterious</i> circumstances that he's legally prevented from stating, he started working for Apple. While at Apple he helped get SecureBoot on Macs with the addition of the T2 chip. He also led the SecureBoot design and implementation project for the ARM-based M1 Macs. But between those big, visible, multi-year, projects, he was silently improving the security of a bunch of the 3rd party peripheral processors' hardware and firmware. He liked working at Apple because he had a bully pulpit where he could force 3rd parties to do the right thing or lose their business. But he likes OST better, so he left in 2020 to work on this full time.</p>
    
    <p>Xeno has a touch of the illness known as being a "collector" (it's not <i>quite</i> to the level of being a "hoarder", so he can't get on TV for it or anything...) Consequently he has presented at IEEE S&P, ACM CCS, BlackHat USA/EUR, Defcon, CanSecWest, PacSec, Hack in the Box KUL/AMS/GSEC, Microsoft BlueHat, Shmoocon, Hack.lu, NoSuchCon, SummerCon, RSA, ToorCon, DeepSec, VirusBulletin, MIRCon, AusCERT, Trusted Infrastructure Workshop, NIST NICE Workshop, and the DOD Information Assurance Symposium. And yet he still says "MORE!"</p>
  </article>

</section>